.query{
  display: flex;
  justify-content: space-between;
  width: 34.25rem;
  margin: auto;
}

.query__input{
  flex-basis: 82%;
  max-width: 82%;
}

.query__submit{
  width: 5.25rem;
  padding: 0;
}