/*colors*/
$color-main-link: #673ab7;
$color-query-button: #cddc39;
$color-query-border: #afb0b3;
$color-fore-alt: #fff;
$color-placeholder: #d1d3d4;

/*fonts*/
$font-main: Roboto, sans-serif;
$font-cursive: Comfortaa, cursive;